Import data from Brazil

In [67]:
import pandas as pd
import glob
import os

#get path for os
path = os.getcwd() + "/data_source/Brazil/brazil_covid19.csv"
path = path.replace("/",os.path.sep)

columns = ["total_cases","daily_cases","actual_cases","total_dead","daily_dead", "total_test","daily_test"]

dataset = pd.read_csv(path, index_col = 0)
dataset = dataset.fillna(0)

dataset["cases"] = pd.to_numeric(dataset["cases"], downcast='integer')

In [68]:
#Delate duplicated values with the same index!
dataset = dataset[~dataset.reset_index().duplicated().values]

Grouping by date

In [69]:
dataset = dataset.groupby(["date"]).sum()

Day 2020-03-09 is missing so we add the date with unchanged values from 2020-03-08

In [70]:
dataset.loc["2020-03-09"] = dataset.loc["2020-03-08"]
dataset.sort_index(inplace=True)

Creating a new dataframe with our specific format

In [71]:
brazil_dataset = pd.DataFrame().reindex_like(dataset)
brazil_dataset = pd.DataFrame(index = dataset.index , columns = columns) 
brazil_dataset = brazil_dataset.fillna(0)

dataset

            suspects  refuses  cases  deaths
date
2020-01-30         9        6      0       0
2020-01-31        13        9      0       0
2020-02-01        16       10      0       0
2020-02-02        16       10      0       0
2020-02-03        14       13      0       0
...              ...      ...    ...     ...
2020-03-26         0        0   2915      77
2020-03-27         0        0   3417      92
2020-03-28         0        0   3904     114
2020-03-29         0        0   4256     136
2020-03-30         0        0   4579     159

[61 rows x 4 columns]

Filling the new dataframe with the avaiable data

In [72]:
from datetime import datetime, timedelta

for days in dataset.index:
    try:
        #from 2nd row ---- to subtract a day from the date we had to convert it to a date and then back to a string
        yesterday = (datetime.strptime(days,"%Y-%m-%d")-timedelta(days=1)).strftime("%Y-%m-%d")
        brazil_dataset.loc[days]["daily_cases"] = dataset.loc[days]["cases"]-dataset.loc[yesterday]["cases"]
        brazil_dataset.loc[days]["daily_dead"] = dataset.loc[days]["deaths"] - dataset.loc[yesterday]["deaths"]
        brazil_dataset.loc[days]["daily_test"] = (dataset.loc[days]["suspects"] + dataset.loc[days]["refuses"] + dataset.loc[days]["cases"]) - (dataset.loc[yesterday]["suspects"] + dataset.loc[yesterday]["refuses"] + dataset.loc[yesterday]["cases"])
    except:
        #First row
        brazil_dataset.loc[days]["daily_cases"] = dataset.loc[days]["cases"]
        brazil_dataset.loc[days]["daily_dead"] = dataset.loc[days]["deaths"]
        brazil_dataset.loc[days]["daily_test"] = dataset.loc[days]["suspects"] + dataset.loc[days]["refuses"] + dataset.loc[days]["cases"]
    finally:
        #Single row
        brazil_dataset.loc[days]["total_cases"] = dataset.loc[days]["cases"]
        #Missing recovered -> brazil_dataset.loc[days]["actual_cases"] =
        brazil_dataset.loc[days]["total_dead"] = dataset.loc[days]["deaths"]
        brazil_dataset.loc[days]["total_test"] = dataset.loc[days]["suspects"] + dataset.loc[days]["refuses"] + dataset.loc[days]["cases"]

Converting dates from String to Datetime

In [73]:
import datetime as dt

index_list = brazil_dataset.index.tolist()

for i in range(len(index_list)):
    index_list[i] = dt.datetime.strptime(index_list[i], '%Y-%m-%d').date()

brazil_dataset.index = index_list
brazil_dataset.index.name = 'date'

Il Database negli ultimi giorni è diventato inconsistente, per esempio in San Paolo il numero di sospetti e negativi diventa 0, nonstante i dati siano comulativi

In [74]:
#get path for os
path = os.getcwd() +  "/parsed_data/brazil/"
path = path.replace("/",os.path.sep)
#save data as CSV 
brazil_dataset.to_csv (path + "brazil.csv", index = True, header=True)