In [1]:
import pandas as pd

path = "data/parsed_data/india/india.csv"
dataset = pd.read_csv(path, index_col = 0)

In [4]:
dataset.tail(20)

,total_cases,daily_cases,total_healed,daily_healed,total_dead,daily_dead,total_test,daily_test
date,,,,,,,,
2020-03-11,60,2,3,0,0,0,0,0
2020-03-12,74,14,3,0,0,0,0,0
2020-03-13,81,7,3,0,1,1,6500,6500
2020-03-14,84,3,10,7,2,1,6500,0
2020-03-15,110,26,13,3,2,0,6500,0
2020-03-16,114,4,13,0,2,0,6500,0
2020-03-17,137,23,14,1,3,1,6500,0
2020-03-18,151,14,14,0,3,0,13125,6625
2020-03-19,173,22,20,6,4,1,27491,14366
2020-03-20,223,50,23,3,4,0,29780,2289
2020-03-21,283,60,23,0,4,0,32612,2832
2020-03-22,360,77,24,1,7,3,35126,2514
2020-03-23,433,73,24,0,7,0,39090,3964
2020-03-24,519,86,40,16,9,2,43558,4468
2020-03-25,606,87,43,3,10,1,48072,4514
2020-03-26,694,88,45,2,15,5,48072,0
2020-03-27,724,30,67,22,17,2,48072,0
2020-03-28,909,185,80,13,19,2,48072,0
2020-03-29,1024,115,96,16,27,8,48072,0
2020-03-30,1071,47,100,4,29,2,48072,0