Import UK data

Healed data are missing - Actual cases can't be calculated

In [1]:
import pandas as pd
import glob
import os

#get path for os 
path = os.getcwd() + "/data_source/UK/covid-19-uk-data-master/data/covid-19-indicators-uk.csv"
path = path.replace("/",os.path.sep)

columns = ["total_cases","daily_cases","total_dead","daily_dead", "total_test","daily_test"]

dataset = pd.read_csv(path, index_col = 0)

Grouping by data and indicator to sum the confirmed cases, deaths and tests among different regions

In [2]:
dataset = dataset[dataset.Country.values == "UK"]
dataset = dataset.groupby(["Date","Indicator"]).sum()

Creating a new dataframe with our specific format

In [3]:
uk_dataset = pd.DataFrame(index = dataset.index.levels[0] , columns = columns)
uk_dataset.reset_index()
uk_dataset = uk_dataset.fillna(0)

dataset

                             Value
Date       Indicator
2020-01-25 ConfirmedCases        0
           Deaths                0
           Tests                31
2020-01-26 ConfirmedCases        0
           Deaths                0
...                            ...
2020-05-17 Deaths            34636
           Tests           1818712
2020-05-18 ConfirmedCases   246406
           Deaths            34796
           Tests           1887051

[345 rows x 1 columns]

Filling the new dataframe with the avaiable data

In [4]:
from datetime import datetime, timedelta
day = []
for days in dataset.index.levels[0]:
    try:
        #from 2nd row ---- to subtract a day from the date we had to convert it to a date and then back to a string
        yesterday = (datetime.strptime(days,"%Y-%m-%d")-timedelta(days=1)).strftime("%Y-%m-%d")
        uk_dataset.loc[days]["daily_cases"] = dataset.loc[days,"ConfirmedCases"]["Value"] - dataset.loc[yesterday,"ConfirmedCases"]["Value"]
        uk_dataset.loc[days]["daily_dead"] = dataset.loc[days,"Deaths"]["Value"] - dataset.loc[yesterday,"Deaths"]["Value"]
        uk_dataset.loc[days]["daily_test"] = dataset.loc[days,"Tests"]["Value"] - dataset.loc[yesterday,"Tests"]["Value"]
    except:
        #First row
        uk_dataset.loc[days]["daily_cases"] = dataset.loc[days,"ConfirmedCases"]["Value"]
        uk_dataset.loc[days]["daily_dead"] = dataset.loc[days,"Deaths"]["Value"]
        uk_dataset.loc[days]["daily_test"] = dataset.loc[days,"Tests"]["Value"]
    finally:
        #Single row
        uk_dataset.loc[days]["total_cases"] = dataset.loc[days,"ConfirmedCases"]["Value"]
        #Missing recoveres -> uk_dataset.loc[days]["actual_cases"] =
        uk_dataset.loc[days]["total_dead"] = dataset.loc[days,"Deaths"]["Value"]
        uk_dataset.loc[days]["total_test"] = dataset.loc[days,"Tests"]["Value"]

Converting dates from String to Datetime

In [5]:
import datetime as dt

index_list = uk_dataset.index.tolist()

for i in range(len(index_list)):
    index_list[i] = dt.datetime.strptime(index_list[i], '%Y-%m-%d').date()

uk_dataset.index = index_list
uk_dataset.index.name = 'date'

i = uk_dataset.index.get_loc(dt.date(2020, 5, 4))
uk_dataset = uk_dataset.iloc[ 0:i , : ]

uk_dataset.tail()

,total_cases,daily_cases,total_dead,daily_dead,total_test,daily_test
date,,,,,,
2020-04-29,165221,4076,26097,795,632794,33455
2020-04-30,171253,6032,26771,674,687369,54575
2020-05-01,177454,6201,27510,739,762279,74910
2020-05-02,182260,4806,28131,621,825946,63667
2020-05-03,186599,4339,28446,315,882343,56397

In [6]:
#get path for os 
path = os.getcwd() + "/parsed_data/united_kingdom/"
path = path.replace("/",os.path.sep)
#save data as CSV 
uk_dataset.to_csv (path + "united_kingdom.csv", index = True, header=True)